<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            Giridhara
        </div>
        <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque repellendus harum nisi praesentium odio! Sint ullam architecto asperiores dolorum, libero quos quia sapiente quo necessitatibus eligendi similique voluptates saepe voluptas!
        </div>
        <div class="card-footer">
            Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>